<a href="https://colab.research.google.com/github/KianahThom/Ki-Projects/blob/main/Kianah's_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv')
df

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,2017,4,s,s,s,s,s,s,s,na,na
1,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2015,16,77.9,1,6.3,15,93.8,7,43.8,na,na
2,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2016,9,74,1,11.1,8,88.9,2,22.2,na,na
3,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2016,3,s,s,s,s,s,s,s,na,na
4,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2017,2,s,s,s,s,s,s,s,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212326,84X717,Icahn Charter School,K-8,Living Environment,2016,8,s,s,s,s,s,s,s,na,na
212327,84X717,Icahn Charter School,K-8,Living Environment,2016,5,s,s,s,s,s,s,s,na,na
212328,84X717,Icahn Charter School,K-8,Living Environment,2017,6,s,s,s,s,s,s,s,na,na
212329,84X717,Icahn Charter School,K-8,Living Environment,2017,4,s,s,s,s,s,s,s,na,na
212330,84X717,Icahn Charter School,K-8,U.S. History and Government,2015,1,s,s,s,s,s,s,s,na,na

In [4]:
df.drop_duplicates()

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,2017,4,s,s,s,s,s,s,s,na,na
1,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2015,16,77.9,1,6.3,15,93.8,7,43.8,na,na
2,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2016,9,74,1,11.1,8,88.9,2,22.2,na,na
3,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2016,3,s,s,s,s,s,s,s,na,na
4,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2017,2,s,s,s,s,s,s,s,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212325,84X717,Icahn Charter School,K-8,Living Environment,2015,6,79.8,0,0,6,100,2,33.3,na,na
212326,84X717,Icahn Charter School,K-8,Living Environment,2016,8,s,s,s,s,s,s,s,na,na
212327,84X717,Icahn Charter School,K-8,Living Environment,2016,5,s,s,s,s,s,s,s,na,na
212328,84X717,Icahn Charter School,K-8,Living Environment,2017,6,s,s,s,s,s,s,s,na,na
212329,84X717,Icahn Charter School,K-8,Living Environment,2017,4,s,s,s,s,s,s,s,na,na

In [5]:
df = df.drop_duplicates()
#consolidate info
df

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,2017,4,s,s,s,s,s,s,s,na,na
1,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2015,16,77.9,1,6.3,15,93.8,7,43.8,na,na
2,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2016,9,74,1,11.1,8,88.9,2,22.2,na,na
3,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2016,3,s,s,s,s,s,s,s,na,na
4,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2017,2,s,s,s,s,s,s,s,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212325,84X717,Icahn Charter School,K-8,Living Environment,2015,6,79.8,0,0,6,100,2,33.3,na,na
212326,84X717,Icahn Charter School,K-8,Living Environment,2016,8,s,s,s,s,s,s,s,na,na
212327,84X717,Icahn Charter School,K-8,Living Environment,2016,5,s,s,s,s,s,s,s,na,na
212328,84X717,Icahn Charter School,K-8,Living Environment,2017,6,s,s,s,s,s,s,s,na,na
212329,84X717,Icahn Charter School,K-8,Living Environment,2017,4,s,s,s,s,s,s,s,na,na

In [6]:
df.describe()

                Year   Total Tested
count  188512.000000  188512.000000
mean     2015.953775      54.596885
std         0.803501      97.187287
min      2015.000000       1.000000
25%      2015.000000       7.000000
50%      2016.000000      24.000000
75%      2017.000000      63.000000
max      2017.000000    1729.000000

In [7]:
df.columns
#checking columns

Index(['School DBN', 'School Name', 'School Level', 'Regents Exam', 'Year',
       'Total Tested', 'Mean Score', 'Number Scoring Below 65',
       'Percent Scoring Below 65', 'Number Scoring 65 or Above',
       'Percent Scoring 65 or Above', 'Number Scoring 80 or Above',
       'Percent Scoring 80 or Above', 'Number Scoring CR',
       'Percent Scoring CR'],
      dtype='object')

In [8]:
#drop cloumns
#Not needed
['Number Scoring CR','Percent Scoring CR']

['Number Scoring CR', 'Percent Scoring CR']

In [9]:
drop_cols = ['Number Scoring CR','Percent Scoring CR']

In [10]:
inplace = True
#set in place

In [11]:
#Checking for missing values
df.isnull()

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212325,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
212326,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
212327,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
212328,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
212329,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
df.notnull()

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212325,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
212326,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
212327,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
212328,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
212329,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [13]:
df.isnull().sum()

School DBN                      0
School Name                     0
School Level                    0
Regents Exam                   10
Year                            0
Total Tested                    0
Mean Score                      0
Number Scoring Below 65         0
Percent Scoring Below 65        0
Number Scoring 65 or Above      0
Percent Scoring 65 or Above     0
Number Scoring 80 or Above      0
Percent Scoring 80 or Above     0
Number Scoring CR               0
Percent Scoring CR              0
dtype: int64

In [14]:
df.isnull().values.any()

True

In [15]:
df.info()
#getting more details

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188512 entries, 0 to 212329
Data columns (total 15 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   School DBN                   188512 non-null  object
 1   School Name                  188512 non-null  object
 2   School Level                 188512 non-null  object
 3   Regents Exam                 188502 non-null  object
 4   Year                         188512 non-null  int64
 5   Total Tested                 188512 non-null  int64
 6   Mean Score                   188512 non-null  object
 7   Number Scoring Below 65      188512 non-null  object
 8   Percent Scoring Below 65     188512 non-null  object
 9   Number Scoring 65 or Above   188512 non-null  object
 10  Percent Scoring 65 or Above  188512 non-null  object
 11  Number Scoring 80 or Above   188512 non-null  object
 12  Percent Scoring 80 or Above  188512 non-null  object
 13  Number Scoring CR            188512 non-null  object
 14  Percent Scoring CR           188512 non-null  object
dtypes: int64(2), object(13)
memory usage: 23.0+ MB

In [16]:
column_values=df['Regents Exam']

In [17]:
unique_values=column_values.unique()
unique_values
#what exams are listed and tested

array(['Common Core Algebra', 'Living Environment', 'Common Core English',
       'Algebra2/Trigonometry', 'Common Core Algebra2',
       'Common Core Geometry', 'English', 'Geometry',
       'Global History and Geography', 'Integrated Algebra',
       'Physical Settings/Chemistry', 'Physical Settings/Earth Science',
       'U.S. History and Government', 'Physical Settings/Physics', nan],
      dtype=object)

In [18]:
RE_value_counts = df['Regents Exam'].value_counts()
print(RE_value_counts)
#checking the counts of each test

Common Core Algebra                26214
Living Environment                 23544
U.S. History and Government        19058
Global History and Geography       18284
Common Core English                17650
Physical Settings/Earth Science    14274
Common Core Geometry               13529
Physical Settings/Chemistry         9879
English                             9754
Integrated Algebra                  9471
Algebra2/Trigonometry               8653
Geometry                            6831
Common Core Algebra2                6680
Physical Settings/Physics           4681
Name: Regents Exam, dtype: int64

In [19]:
df.shape

(188512, 15)

In [20]:
selected_rows = df[df['School DBN'].isin(['29Q109', '30Q010'])]
print(selected_rows)

       School DBN                     School Name  \
15872      29Q109  Jean Nuzzi Intermediate School
15873      29Q109  Jean Nuzzi Intermediate School
15874      29Q109  Jean Nuzzi Intermediate School
15875      29Q109  Jean Nuzzi Intermediate School
15876      29Q109  Jean Nuzzi Intermediate School
...           ...                             ...
201582     30Q010         I.S. 010 Horace Greeley
201585     30Q010         I.S. 010 Horace Greeley
201587     30Q010         I.S. 010 Horace Greeley
201588     30Q010         I.S. 010 Horace Greeley
201589     30Q010         I.S. 010 Horace Greeley

                           School Level         Regents Exam  Year  \
15872   Junior High-Intermediate-Middle  Common Core Algebra  2015
15873   Junior High-Intermediate-Middle  Common Core Algebra  2016
15874   Junior High-Intermediate-Middle  Common Core Algebra  2017
15875   Junior High-Intermediate-Middle   Living Environment  2015
15876   Junior High-Intermediate-Middle   Living Environment  2016
...                                 ...                  ...   ...
201582  Junior High-Intermediate-Middle  Common Core Algebra  2016
201585  Junior High-Intermediate-Middle  Common Core Algebra  2017
201587  Junior High-Intermediate-Middle  Common Core Algebra  2017
201588  Junior High-Intermediate-Middle  Common Core Algebra  2017
201589  Junior High-Intermediate-Middle  Common Core English  2016

        Total Tested Mean Score Number Scoring Below 65  \
15872             60       74.8                       0
15873             94       83.8                       0
15874             87       85.2                       0
15875             73       83.4                       0
15876             89       82.4                       0
...              ...        ...                     ...
201582             3          s                       s
201585            20       83.2                       1
201587            21       79.8                       1
201588             6          s                       s
201589             2          s                       s

       Percent Scoring Below 65 Number Scoring 65 or Above  \
15872                         0                         60
15873                         0                         94
15874                         0                         87
15875                         0                         73
15876                         0                         89
...                         ...                        ...
201582                        s                          s
201585                        5                         19
201587                      4.8                         20
201588                        s                          s
201589                        s                          s

       Percent Scoring 65 or Above Number Scoring 80 or Above  \
15872                          100                          8
15873                          100                         76
15874                          100                         84
15875                          100                         53
15876                          100                         54
...                            ...                        ...
201582                           s                          s
201585                          95                         18
201587                        95.2                         12
201588                           s                          s
201589                           s                          s

       Percent Scoring 80 or Above Number Scoring CR Percent Scoring CR
15872                         13.3                56               93.3
15873                         80.9                94                100
15874                         96.6                87                100
15875                         72.6                na                 na
15876                         60.7                na                 na
...                            ...               ...                ...
201582                           s                na                 na
201585                          90                19                 95
201587                        57.1                20               95.2
201588                           s                na                 na
201589                           s                na                 na

[98 rows x 15 columns]

In [21]:
count_s_values = df['Mean Score'].value_counts(dropna=False)['s']
print("Number of rows with 's' in the 'mean score' column:", count_s_values)

Number of rows with 's' in the 'mean score' column: 54981

In [22]:
# Cleaning out 'count_number_scoring_below_65' with value 's'

count_number_scoring_below_65 = df['Number Scoring Below 65'].value_counts(dropna=False)['s']
print("Number of rows with 's' in the 'Number Scoring Below 65' column:",count_number_scoring_below_65 )

Number of rows with 's' in the 'Number Scoring Below 65' column: 54981

In [23]:
# Cleaning out 'count_percent_scoring_below_65' with value 's'

count_percent_scoring_below_65 = df['Percent Scoring Below 65'].value_counts(dropna=False)['s']
print("Number of rows with 's' in the 'Percent Scoring Below 65' column:",count_percent_scoring_below_65)

Number of rows with 's' in the 'Percent Scoring Below 65' column: 54981

In [24]:
# Cleaning out the 's' Value from the below list of columns

columns_with_s_values = ['Mean Score', 'Number Scoring Below 65', 'Percent Scoring Below 65',
                         'Number Scoring 65 or Above', 'Percent Scoring 65 or Above',
                         'Number Scoring 80 or Above', 'Percent Scoring 80 or Above']